body {
	background-color: #000;
	margin: 0;
	padding: 0;
}

#game-container {
	position: absolute;
}

#hud-container {
	background-color: rgba(30, 30, 30, 0.5);
	font-family: sans-serif;
	height: 150px;
	padding: 10px;
	position: absolute;
	width: 300px;
}

#combat-log {
	background-color: rgba(30, 30, 30, 0.5);
	bottom: 0px;
	color: white;
	height: 105px;
	overflow-x: hidden;
	overflow-y: scroll;
	position: absolute;
	width: 800px;
}

#combat-log p {
	line-height: 0.5em;
}

#player-health {
	color: #F44;
}

#player-mana {
	color: #44F;
}
