body {
	margin: 0;
	padding: 0;
}

#game-container {
	position: absolute;
}

#hud-container {
	background-color: rgba(0, 0, 0, 0.5);
	font-family: sans-serif;
	padding: 10px;
	position: absolute;
}

#combat-log {
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0px;
	color: white;
	height: 100px;
	overflow-x: hidden;
	overflow-y: scroll;
	position: absolute;
	width: 800px;
}

#combat-log p {
	line-height: 0.5em;
}

#player-health {
	color: red;
}

#player-mana {
	color: blue;
}
